<div class="row"></div>
<!-- skeleton is defaulted to 12 or 16 columns -->

<h1 class="four columns offset-by-four"><u>Winson</u></h1>
<h1 class="two columns"><u>L.</u></h1>
<h1 class="four columns"><u>Yuan</u></h1>
<!-- 
<style>
	h1 {
		border-bottom: 2px solid gray;
	}
</style>
 -->
<div class="row>"></div>

<a href="/contact">
	<img class="offset-by-four eight columns" src="/images/me_will.jpg" />
</a>

<div class="row"></div>

<h2 class="offset-by-three three columns">Ruby</h2>
<h2 class="three columns">Sinatra</h2>
<h2 class="three columns">HTML</h2>
<h2 class="three columns">CSS</h2>
